/* Index */
.connected .section-connect {
	display: none;
}

body:not(.connected) .section-username,
body:not(.connected) #btn-export,
body:not(.connected) .settings {
	display: none;
}

/* Settings */
body:not(.connected) .section-import-list,
body:not(.connected) .section-export-list,
body:not(.connected) .section-disconnect {
	display: none;
}
