@font-face {
	font-family: 'EB Garamond';
	font-display: auto;
	src:
		local('EB Garamond'),
		url(../fonts/eb-garamond-bold.woff2) format('woff2'),
		url(../fonts/eb-garamond-bold.woff) format('woff');
	unicode-range: U+20,U+21,U+26-29,U+2C-3B,U+3F-57,U+59,U+61-7A,U+2013,U+2019,U+201C,U+201D,U+2026;
}
@font-face {
	font-family: 'Source Sans Pro';
	font-display: auto;
	src:
		local('Source Sans Pro Regular'),
		local('SourceSansPro-Regular'),
		url(../fonts/source-sans-pro.woff2) format('woff2'),
		url(../fonts/source-sans-pro.woff) format('woff');
	unicode-range: U+20,U+21,U+26-29,U+2C-3B,U+3F-57,U+59,U+61-7A,U+2013,U+2019,U+201C,U+201D,U+2026;
}
