html:not(.debug) #spritesheet-trophy-list {
	display: none;
}

html:not(.debug) canvas#spritesheet {
	position: absolute;
	left: -100000px;
}

canvas#spritesheet,
.spritesheet-img {
	display: inline-block;
	margin: 13px auto 5px auto;
	padding: 2px;
	border: 1px solid var(--gold-trim);
	border-radius: 4px;
}
canvas#spritesheet + .spritesheet-img {
	margin-left: 10px;
}

#spritesheet-download {
	display: block;
	margin-top: 30px;
	margin-bottom: 5px;
}
