/* Reset */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
	margin: 0;
	padding: 0;
}

/* Box-sizing */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* Layout */
html, body {
    height: 100%;
}

body {
    background-color: #1e1e1e;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 50%;
    text-align: center;
}

.trophy-buttons {
}
