#trophy-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	padding: 5px;
}
@media only screen and (max-width: 500px) {
	#trophy-list {
		grid-template-columns: 1fr 1fr;
	}
}
@media only screen and (max-width: 350px) {
	#trophy-list {
		grid-template-columns: 1fr;
	}
}

.trophy {
	user-select: none;
}

.trophy-icon {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	padding: 5px;
	background-color: #3e3e3e;
	min-height: 106px;
	transition: opacity 0.1s ease;
	opacity: 25%;
}
.trophy:hover .trophy-icon {
	opacity: 50%;
}
.trophy:not([data-state="0"]) .trophy-icon {
	opacity: 100%;
}

.trophy-icon img {
	align-self: center;
	min-width: 64px;
	min-height: 64px;
	image-rendering: crisp-edges; /* Firefox */
	image-rendering: pixelated; /* Chrome */
}

.trophy-icon figcaption {
	margin-top: auto;
}

.variants-container {
	display: flex;
	font-size: 0.8em;
	border-top: 1px solid #191919;
}
.variants-container:empty {
	background-color: #222;
	min-height: 21px;
}

.variant-button {
	flex: 1;
	opacity: 25%;
	background-color: #3e3e3e;
	cursor: pointer;
}
.variant-button:hover {
	text-decoration: none;
	color: inherit;
	opacity: 50%;
}
.variant-button.variant-selected {
	opacity: 100%;
}
