#trophy-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 500px) {
	#trophy-list {
		grid-template-columns: 1fr 1fr;
	}
}
@media only screen and (max-width: 350px) {
	#trophy-list {
		grid-template-columns: 1fr;
	}
}

.trophy {
	display: inline-block;
	margin: 10px;
	padding: 5px;
	background-color: #3e3e3e;
	min-height: 106px;
	transition: opacity 0.1s ease;
	cursor: pointer;
	user-select: none;
}
.trophy[data-unlocked="0"] {
	opacity: 25%;
}

.trophy img {
	min-width: 64px;
	min-height: 64px;
	image-rendering: crisp-edges; /* Firefox */
	image-rendering: pixelated; /* Chrome */
}
