.disabled {
	display: none;
}

.faded {
	opacity: 0.25;
	/* pointer-events: none; */
}

.ignore-grid {
	grid-column: 1/-1;
}

/* Hide elements based on .connected in <body> */
html.connected .disconnected-only {
	display: none;
}
html:not(.connected) .connected-only {
	display: none;
}
