.disabled {
	display: none;
}

.faded {
	opacity: 0.15;
	pointer-events: none;
}

.ignore-grid {
	grid-column: 1/-1;
}

/* Hide elements based on .connected in <body> */
body.connected .disconnected-only {
	display: none;
}
body:not(.connected) .connected-only {
	display: none;
}
